<h1>Listing favorites</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Uri</th>
  </tr>

<% for favorite in @favorites %>
  <tr>
    <td><%=h favorite.name %></td>
    <td><%=h favorite.uri %></td>
    <td><%= link_to 'Show', favorite %></td>
    <td><%= link_to 'Edit', edit_favorite_path(favorite) %></td>
    <td><%= link_to 'Destroy', favorite, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New favorite', new_favorite_path %> |
<%= link_to 'Back to calls', calls_path %>

