<div id="call-history">
  <% if history %>
    <table>
      <thead>
        <tr>
          <th><%= s_('Call|Timestamp') %></th>
          <th><%= s_('Call|Status') %></th>
          <th><%= _('Conversational Partner') %></th>
          <th><%= _('Own Extension') %></th>
        </tr>
      </thead>
    
      <tbody>
        <% Array(history).sort_by(&:timestamp).reverse_each do |call| %>
          <tr>
            <td><%=h call.timestamp.to_datetime.to_s(:long) %></td>
            <td><%= phone_status(call.status) %></td>
            <td><%= phone_number(call, call.outbound? ? :destination : :origin) || _('unknown') %></td>
            <td><%= phone_number(call, call.outbound? ? :origin : :destination) || _('unknown') %></td>
          </tr>
        <% end -%>
      </tbody>
        
    </table>
  <% else -%>
    <p><i><%= _('Could not retrieve the call history (try reloading this page).') -%></i></p>
  <% end -%>
</div>