<% javascript formatted_behaviour_calls_path(:js) %>

<div id="new-call-form">
  <% form_for @call do |f| -%>
    <div class="form-field">
      <%= f.label :origin %>
      <%= f.select :origin, @call.origins %>
    </div>
    <div class="form-field">
      <%= f.label :destination %>
      <%= f.text_field :destination %>
    </div>
    <br />
    <%= f.submit _('Connect') %>
  <% end -%>
</div>

<%= error_messages_for :call %>

<% if @include_history %>
  <!-- to be populated and made visible via javascript behaviour -->
  <h2 id="call-history-headline" style="display:none">
    <%= _('Call History') -%>
    <%= image_tag "busy.gif", :id => "call-history-busy", :style => "visibility:hidden" %>
  </h2>
  <div id="call-history-placeholder" style="display:none"></div>

  <!-- no js fallback -->
  <noscript>
    <%= link_to "#{_('Call History')}...", history_calls_url %>
  </noscript>
<% end -%>
